# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/

# Node
**/node_modules/
**/dist/
**/.vite/

# Secrets / env
*.env
*.env.local
appsettings.Development.json
appsettings.json

.claude
ARCHITECTURE.md 
.vscode
.vscode/settings.json
